langchain
langgraph 
langchain-community
langchain-nvidia-ai-endpoints 
langchain-core 
chromadb
langchain-huggingface
langchain-groq
python-dotenv
langchain_chroma
pypdf
wikipedia
python-pptx
Pillow
requests
ddgs
pandas
numpy
matplotlib
openpyxl
sympy
scipy
mcp-run-python==0.0.22
fastapi
uvicorn[standard]
python-multipart
